/build
.cquery_cached_index
.ccls-cache
/compile_commands.json
/emake.el
/emacs-travis.mk
*.elc
*-autoloads.el
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
libgit2_el.so
